.tabs {
  display: flex;

  &--horizontal {
    flex-direction: column;

    .nav-pills {
      margin-bottom: 1.5rem;
    }
  }

  &--vertical {
    flex-direction: column;

    .nav-pills {
      flex-direction: column;
      margin-right: 1.5rem;
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .nav-pills {
    min-width: 130px;
  }

  .tab-content {
    &__title {
      margin-bottom: 1rem;
    }
  }

  &__nav-container {
    width: 100%;
    @media (max-width: 768px) {
      margin: 2rem auto;
    }
  }

  &__dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
    .dropdown-toggle {
      flex-grow: 1;
      text-align: left;
      br {
        display: none;
      }
    }
    .dropdown-toggle::after {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
    .dropdown-menu {
      width: 100%;
      left: 0;
    }
  }
}
